
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* body - general style */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}

/* header */
#header {
    background-color: #424656;
}

.header_logo {
    float: left;
    width: 130px;
    margin-top: 10px;
    margin-left: 30px;
}

#top_navlist {
    font-size: 120%;
    letter-spacing: 2px;
    float: right;
    margin-top: 10px;
}

#top_navlist li {
    list-style-type: none;
    margin-right: 30px;
}

#top_navlist li a {
    color: white;
    text-shadow: 1px 1px #424656;
    display: block;
}

/* body - main section */
.welcome_getfit {
    clear: both;
    background-color: #0388FC;
    color: white;
    text-shadow: 2px 2px #424656;
    font-weight: 900;
    font-size: x-large;
    padding: 20px;
}

.welcome_getfit_join {
    text-shadow: none;
}



/* body - main menu */
.mainboxes_mainpage{
    color: #424656;
}

.first_box_mainpage{
    background-color: #8CF387;
    width: 27%;
    position: relative;
    left: 2%;
    display: block;
    z-index: 2;
    padding: 50px 40px;
    border-radius: 10px;
}

.second_box_mainpage {
    background-color: #00E4BA;
    width: 27%;
    position: absolute;
    left: 33%;
    top: 81%;
    display: block;
    z-index: 5;
    padding: 60px 50px;
    border-radius: 10px;
}

.third_box_mainpage {
    background-color: #BCFDFF;
    width: 27%;
    height: 21%;
    position: absolute;
    left: 65.5%;
    top: 82%;
    display: block;
    z-index: 2;
    padding: 50px 40px;
    border-radius: 10px;
}

/* covid updates */
.covid_mainpage {
    background-color: #F9F871;
    font-weight: bolder;
    padding: 10px 30px;
    margin: 30px;
    border: 2px solid black;
}

/* footer */
footer {
    background-color: #424656;
    color: white;
    padding: 20px 40px;
}

.footer_logo {
    width: 100px;
}

/* extras */
.text_upper {
    text-transform: uppercase;
}

.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
}

.text_justify {
    text-align: justify;
}

/*
#00C4E9 light blue
#00DBFD ligther blue
#00A2C5 not so light blue
#00FFFF aquablue
#A9AD9B light grey
#444939 dark grey
#A8EB12 light geen


*/
