
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* body - general style */
body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    color: white;
    background-color: #444939;
}

/* header */

#headerlogo {
    float: left;
    width: 280%;
}

#top_navlist {
    font-size: 120%;
    letter-spacing: 2px;
}

#headerlogo, #top_navlist {
    line-height: 75px;
}

#top_navlist li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#top_navlist li a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px #424656;
}

#top_navlist li a:hover {
    color: #424656;
    border-bottom: 1px solid #424656;
}

.active {
    border-bottom: 1px solid white;
}



/* body - main section */
#welcome {
    height: 600px;
    width: 100%; 
    overflow: hidden;
    position: relative;
}

#welcome_image {
    height: 500px;
    width: 100%;  
    background: url("../media/image/gym_sport.jpg") no-repeat center center;
    background-color: #0388FC;
}

#welcome_getfit {
    font-size: 200%;
    color: white;
    text-shadow: 2px 2px #424656;

    width: 900px;
    height: 400px;

    padding-top: 40px;
    padding-left: 10px;

 /*    background-color: #0388FC; */ 

    bottom: 100px;
    right: 360px;

    position: absolute;

}

#welcome_getfit h2 {
    font-size: 110%;
}

#welcome_getfit_join {
    border: 2px solid red;
    background-color: red;
    text-shadow: none;
    border-radius: 30px;
    padding: 8px;
}




/* body - main menu */
.mainboxes_mainpage{
    color: #424656;
}

.first_box_mainpage{
    background-color: #8CF387;
    width: 27%;
    position: relative;
    left: 2%;
    display: block;
    z-index: 2;
    padding: 50px 40px;
    border-radius: 10px;
}

.second_box_mainpage {
    background-color: #00E4BA;
    width: 27%;
    position: absolute;
    left: 33%;
    top: 81%;
    display: block;
    z-index: 5;
    padding: 60px 50px;
    border-radius: 10px;
}

.third_box_mainpage {
    background-color: #BCFDFF;
    width: 27%;
    height: 21%;
    position: absolute;
    left: 65.5%;
    top: 82%;
    display: block;
    z-index: 2;
    padding: 50px 40px;
    border-radius: 10px;
}

/* covid updates */
.covid_mainpage {
    background-color: #F9F871;
    font-weight: bolder;
    padding: 10px 30px;
    margin: 30px;
    border: 2px solid black;
}

/* footer */
footer {
    background-color: #424656;
    color: white;
    padding: 20px 40px;
}

.footer_logo {
    width: 100px;
}

/* extras */
.text_upper {
    text-transform: uppercase;
}

.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
}

.text_justify {
    text-align: justify;
}

/*
#00C4E9 light blue
#00DBFD ligther blue
#00A2C5 not so light blue
#00FFFF aquablue
#A9AD9B light grey
#444939 dark grey
#A8EB12 light geen


*/
