@font-face {
    font-family: Gymnast;
    src: url(../style/font/gymnast.ttf) format("truetype");
}
@font-face {
    font-family: Gymkhana;
    src: url(../style/font/gymkhana.ttf) format("truetype");
}

/*
#00C4E9 light blue
#00DBFD ligther blue
#00A2C5 not so light blue
#00FFFF aquablue
#A9AD9B light grey
#444939 dark grey
#A8EB12 light geen
*/

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* membership */
#memberpage {
    height: 800px;
    width: 100%; 
    overflow: hidden;
    position: relative;
    background: url("../media/image/gym_blackwhite.jpg") no-repeat center center;
    background-color: white; 
    text-align: center;
    margin: auto;
}

.membership h1 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 3em;
}

.membership p {
    padding: 5px;
    font-size: 1.3em;
}

.membership table {
    padding: 5px;
    font-size: 1.3em;
    margin: auto;
}

.membership h2 {
    margin-top: 10px;
}

.margintop {
    margin-top: 40px;
    position: relative;
    display: inline-block;
    border-radius: 15px;
    overflow: hidden;
}

.difcolor {
    color: #A9AD9B;
}