@font-face {
    font-family: Gymnast;
    src: url(../style/font/gymnast.ttf) format("truetype");
}
@font-face {
    font-family: Gymkhana;
    src: url(../style/font/gymkhana.ttf) format("truetype");
}

/*
#00C4E9 light blue
#00DBFD ligther blue
#00A2C5 not so light blue
#00FFFF aquablue
#A9AD9B light grey
#444939 dark grey
#A8EB12 light geen
*/

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* body - general style */
body {
    font-family: Gymkhana, Verdana, monospace;
    font-weight: 300;
    color: white;
    background-color: black;
}

/* header */
header {
    width: 100%;
    height: 80px;
}

#top_navlist {
    width: 100%;
    height: 80px;
    font-size: 100%;
    letter-spacing: 2px;
}

#top_navlist a, #top_navlist li {
    line-height: 75px;
}

#top_navlist li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#top_navlist li a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px #424656;
}

#top_navlist li a:hover {
    color: #00A2C5;
    border-bottom: 1px solid #00A2C5;
}

.active {
    border-bottom: 1px solid white;
}


/* body - main section */
#welcome {
    height: 600px;
    width: 100%; 
    overflow: hidden;
    position: relative;
}

#welcome_image {
    height: 600px;
    width: 100%;  
    background: url("../media/image/gym_sport.jpg") no-repeat top center;
    background-color: black;
}

#welcome_getfit {
    font-size: 200%;
    color: white;
    text-shadow: 2px 2px #424656;

    width: 900px;
    height: 400px;

    padding-top: 40px;
    padding-left: 10px;

    bottom: 120px;
    right: 360px;

    margin: auto;

    position: relative;

    margin: -25% 42%;

}

#welcome_getfit h1 {
    font-family: Gymnast;
    font-size: 450%;
}

#welcome_getfit h2 {
    font-size: 110%;
}

#welcome_getfit a:hover {
    color: #00A2C5;
}

#welcome_getfit_join {
    color: black;
    font-weight: bolder;
    background-color: white;
    text-shadow: none;
    padding: 12px;
    border-radius: 20px;
}


/* body - boxes menu */
#mainboxes_mainpage{
    background: url("../media/image/kettle-bell-ga5d6d85e9_1920.jpg") no-repeat;
    background-position: top;
    background-color: white;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#mainboxes_mainpage div {
    width: 33.3%;
    height: 400px;
    background-color: rgba(253, 252, 252, .5);
    float: left;
    padding: 90px 40px;
    border: 8px solid black;
    box-sizing: border-box;
    

}

#mainboxes_mainpage h2, #mainboxes_mainpage p {
    color: black;
    text-align: center;
}

#mainboxes_mainpage p {
    font-size: larger;
}

#mainboxes_mainpage a {
    background-color: rgba(253, 252, 252, .5);
    color: black;
    text-decoration: none;
    padding: 6px;
    border-radius: 20px;
}

#mainboxes_mainpage a:hover {
    color: #00A2C5;
    border-bottom: 1px solid #00A2C5;
}


/* covid updates */
#covid_mainpage {
    color: black;
    background-color: rgb(231, 231, 98);
    text-align: justify;
    padding: 15px 30px;
    margin: 30px;
    border: 2px solid red;
}

#covid_mainpage p, #covid_mainpage li {
    text-indent: 15px;
    list-style-type: none;
    padding: 3px;
}

#covid_mainpage li {
    font-style: italic;
    text-decoration: underline;
}

#covid_mainpage a {
    text-decoration: none;
    color: black;
}

#covid_mainpage a:hover {
    color: #00A2C5;
    border-bottom: 1px solid #00A2C5;
}

/* footer */
footer {
    background-color: black;
    color: white;
    padding: 5px 30px 15px 30px;
    text-align: center;
}

footer div nav {
    padding: 10px;
}

footer a {
    padding: 20px
}

/* extras */
.text_upper {
    text-transform: uppercase;
}

.text_center {
    text-align: center;
}

.text_right {
    text-align: right;
}

.text_justify {
    text-align: justify;
}

/* contact section */

#contact {
    height: 800px;
    width: 100%; 
    overflow: hidden;
    position: relative;
    background: url("../media/image/sports_bell.jpg") no-repeat bottom center;
    background-color: black; 
    text-align: center;
    margin: auto;
}

#contact h1 {
    margin: 50px auto;
    font-size: 3em;
}

#contact h2 {
    margin: 30px auto;
    font-size: 2em;
}

#contact p {
    padding: 5px;
    font-size: 1.5em;
}

#contact a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px #424656;
}

#contact a:hover {
    color: #00A2C5;
    border-bottom: 1px solid #00A2C5;
}

#contact iframe {
    width: 400px;
    height: 250px;
}